
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
testResult/
testResult/
/testResult/htmlreport
result.png
testResult/smartreport/smart-report.html
testResult/smartreport/test-history.json
